*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.published-header{
    font-size: small;
    font-weight: bold;
    text-align: center;
    font-family:'Dosis', sans-serif;
    text-transform: capitalize;
      
}
body{
  width: 100%;
}

header{
width:100%;
background-color: black;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.header_{
  position: fixed;
  z-index: 10;
}

.logo{
   width:7%;
   height:2.5cm;
   text-align: start;
   line-height: 1.6px;
}
.icon{
  display:flex;
  align-items: center;
  margin: 0%;
}

.port{
    position: relative;
    top: 80px;
}
.port_{
  position: relative;
}
.port_img{
    width: 100%;
    height: 21cm;
}
.port_img_{
    position: absolute;
    top: 750px;
    left: 20%;
    font-size:4vh;
    text-transform: uppercase;
    word-spacing: 12px;
    font-family:'Anton', sans-serif;
    color:white
}
.port_img1{
  width: 100%;
  height: 15cm;
}
.tytle_{
  position: absolute;
  top: 250px;
  left: 300px;
  text-transform: uppercase;
  word-spacing: 12px;
  font-family:'Anton', sans-serif;
  color:#6c757d;
}
.tytle_{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  width: 50%;
  height: 200px;
  
  color:#6c757d;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(white); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 50px; }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:white }
}
.port_article{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    justify-content: space-evenly;
    height:260px;
    width: 100%;
    font-family: "PT Sans Narrow", sans-serif;

}
.envios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    color: #495057;
}
.cuotas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    color: #495057;
}
.seguridad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    color: #495057; 
}
main{
  width: 100%;
}
.tytle{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(white); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color:white }
  }
.list_nav{
    width: 100%;
    height: 700px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    flex-wrap: wrap;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    background-color: #343a40
    
}
.list_cer{
    
    background-image: url("../img/cerveza2.jpg");
    background-size: cover;
    height: 350px;

}
.list_vin{
    background-image: url("../img/vino.jpg");
    background-size: cover;
    height: 350px;
  }

.list_des{
    background-image: url("../img/destilados.jpg");
    background-size: cover;
    height: 350px;
}

.list_esp{
    background-image: url("../img/espumante.jpg");
    background-size: cover;
    height: 350px;
}

.list_gin{
    background-image: url("../img/gin2.jpg");
    background-size: cover;
    height: 350px;
    color: #000;
}
.list_{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 40px;
  color: #ffffff;
}
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1582 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position:absolute;
  text-transform: uppercase;
  font-weight: 700;
  width: 190px;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: #c47135;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #c47135;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}

#drinkshop{
  display: grid;
  grid-template-areas:
  "nosotros nosotros pagos contac maps"
  "nosotros nosotros pagos contac maps"
  "nosotros nosotros pagos contac maps"
  "redes    redes    pagos contac maps";
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 100%;
  height: 200px;
    background-color: black;
    color: #fff;
}
.tilnos{
  text-decoration: underline;
}
.img{
  filter: invert(1);
}

.redes{
  display: grid;
  text-decoration: underline;
  
}
.bebidas{
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
}
.bebidas_{
  text-align: center;
}
